ENVIRONMENT=local
# https://console.anthropic.com/settings/keys
ANTHROPIC_API_KEY=sk-ant-...
# https://openrouter.ai/workspaces/default/keys
OPENROUTER_API_KEY=sk-or...
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
ANTHROPIC_API_KEY=sk-ant...
